

@font-face {
  font-family: JosefinSlab;
  src: url(../assets/fonts/geo_sans_light/GeosansLight.ttf);
}

/*
@font-face {
  font-family: FFF;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}*/

.about-container1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  padding:10px 10px 10px 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.about-container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  padding:10px 10px 10px 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

p {

    padding: 0px 15px 20px 5px;
    font-family: JosefinSlab, Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 1.2rem;
  
}

.about-container1 img {

  height: 32vw;
  width: 48vw;
  border-radius: 6px;
}

.about-container2 img {

  height: 32vw;
  width: 48vw;
  border-radius: 6px;
}

.smide {

  font-size: 2vw;
  line-height: 4vw;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin: 0;

  font-family: JosefinSlab;

}

.smedjan {

  /* font-size: 1.5vw; */
  /* line-height: 3.56vw; */

  font-size: 2vw;
  line-height: 4vw;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;

  margin: 0;

  font-family: JosefinSlab;
 
}

.smedjan a {

    color:dodgerblue;
    font-size: 2vw;
    font-family: JosefinSlab;

}



/* Adapt for small portrait mode displays like smartphones etc */
@media (max-width: 600px) {
  
  .about-container1 {
    display: flex;
    flex-direction: column-reverse;
    
    gap: 20px;
    margin-top: 20px;
    padding:10px 10px 10px 0px;
  }

  .about-container1 img {

    height: auto;
    width: 97vw;
    border-radius: 6px;
  }

  .smide {

    font-size: 2.6vw;
    line-height: 5.2vw;
  
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  
  }



  .about-container2 {
    display: flex;
    flex-direction: row-reverse;
    
    gap: 20px;
    margin-top: 20px;
    padding:10px 10px 10px 0px;
  }

  .about-container2 img {

    
    width: 40vw;
    border-radius: 6px;
  }


  .smedjan {

    /* font-size: 1.5vw; */
    /* line-height: 3.56vw; */
  
    font-size: 2.6vw;
    line-height: 5.2vw;

    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
   
  }
  
  .smedjan a {
  
      font-family: JosefinSlab;
      color:dodgerblue;
      font-size: 2.6vw;
  
  }

  .smedjan a:visited {
  
    font-family: JosefinSlab;
    color:dodgerblue;
    font-size: 2.6vw;

}

}