

.cart-container {

    display: block;
    min-width: 300px;
    position: fixed;
    top: 5.5rem;
    right: 0rem;
    padding: 20px;
    z-index: 2;
    border-radius: 6px 0px 0px 6px;
    opacity: 0.95;
    background-color: rgba(250, 250, 250, 0.95);
    border: 1px solid #ddd;
    overflow-y: hidden;

}


.grid-item {
    display: flex; 
    flex-direction: row; 
    align-items: center;
  
}

.grid-item-img {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    height: 32px;
    width: 60px;
    border: 0px solid #eee;
    justify-content: center;
    border-radius: 2px;
    overflow: hidden;
    padding: 5px;
    margin: 1px;
}

.grid-item-img img {

    padding: 10px;
    border-radius: 12px;
    width: 50px;
    height: fit-content;
    object-fit:fill;
    
}

.cart-item {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr 1fr 1fr 1fr); 
    gap: 10px; 
    align-items: end;
}

.cart-item input {
    width: 30px;
    height: 32px;
    border: 1px solid #eee;
    font-size: 12px;
    text-align: center;
    
}

.cart-item button {
    width: 46px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
}

h3 {
    margin-top: 0px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.cart-container h4 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
    margin-left: 0;
    font-size: 16px;
    padding-top: 0px;
    margin-top: 0px;
}

.cart-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding-left: 0;
    padding-top: 20px;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0px;
}



.cart-container div p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    color: black;
    display: inline;
    margin: 0;
}

.grid-item p {
    font-size: 14px!important;
    font-family: Arial, Helvetica, sans-serif;
}