* {
  font-family: Helvetica, Arial, sans-serif;
}
.btn-quantity {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.price {
  font-weight: bold;
}

@media (min-width: 900px) {
  .prod-card {
    display: flex;
    flex-direction: row;
  }
}

/* Grundläggande stil för produktkort */
.prod-card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.prod-card img {
  width: auto;
  height: 200px;
}

/* Container för produktkort */
.products-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.css-1x1xx5k{
  max-width: 100!important;
}
/* Mediaförfrågan för att anpassa layouten för mobila enheter */
@media (max-width: 768px) {
  .products-div {
    flex-direction: column; /* Ändra till kolumnlayout på mobilen */
  }
  .css-1x1xx5k{
  max-width: 100!important;
}
}
