* {
  font-family: Helvetica, Arial, sans-serif;
}
.btn-quantity {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.price {
  font-weight: bold;
}
.products-div {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important; /* Fyra kolumner per rad */
  gap: 20px !important; /* Avstånd mellan korten */
}
.prod-card {
  display: flex;
  flex-direction: column; /* Låt kortets innehåll staplas vertikalt */
  justify-content: space-between;
}
/* @media (min-width: 900px) {
  .prod-card {
    display: flex;
    flex-direction: row;
  }
} */



