@font-face {
    font-family: MiltonOne;
    src: url(../assets/fonts/Milton_One.otf);
  }

  @font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/geo_sans_light/GeosansLight.ttf);
  }


.start-container{
    
    display: grid;
    vertical-align: bottom;
    height: 76vh;
    background-image: url("../assets/Images/smedjan.jpg");
    background-position: center top;
    background-attachment: fixed; /* Background stays fixed */
    background-repeat: no-repeat; /* No repetition */
    background-size: cover; 
    text-align: center;
    color: antiquewhite;
    border-radius: 6px;

    position: relative;
    width: 100%;
    /* border: 1px solid black; */
}

.start-container::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
    background-attachment: fixed; /* Background stays fixed */
    background-repeat: no-repeat; /* No repetition */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 76vh;
    border-radius: 6px;
    bottom: 0;
    
  }

.start-text h2{
    font-family: MiltonOne;
    font-weight: 500;
    margin-top: 5%;
    font-size: 12vw;
    color: whitesmoke;
    position: relative;
    z-index: 1; /* Ensure text is above the overlay */
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.start-text h3{
    font-family: MiltonOne;
    margin-top: 2%;
    margin-bottom: 0px;
    font-size: 8vw;
    color: whitesmoke;
    position: relative;
    z-index: 1; /* Ensure text is above the overlay */
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 100;
}
.start-text h4{
    font-family: Quicksand;
    font-size: 1.5rem;
    color: whitesmoke;
    position: relative;
    z-index: 1; /* Ensure text is above the overlay */
    padding-left: 28px;
    padding-right: 28px;
    line-height: 30px;
    font-weight: 100;
    
}

.start-btn{
    margin-left: auto!important;
    margin-right: auto!important;
    height: 8vh;
    width: 350px;
    margin-top: 0px;
    
}

@media (min-width: 360px) {
    .start-text h2{
        font-size: 20vw;
        font-weight: 500;
        
    }
    .start-container {
     
    }
}

@media (min-width: 600px) {
    .start-text h2{
        font-size: 14vw;
        font-weight: 500;
        
    }
    .start-container {
     
    }
}

@media (min-width: 890px) {
    .start-text h2{
        font-size: 12vw;
        font-weight: 500;
        
    }
    .start-container {
     
    }
}



@media (min-width: 1350px) {
    .start-container {
         background-position: center -160px;
         font-size: 12vw;
         font-weight: 500;
    
               
     }
     .start-container h2 {
       /*  background-position: center -160px; */
         font-size: 10vw;
         font-weight: 500;
         
         
     }
     .start-container h3 {
        /*  background-position: center -160px; */
          font-size: 5vw;
          font-weight: 500;
          
          
      }
}