@font-face {
  font-family: StarBlushSerif;
  src: url(./assets/fonts/star-blush-serif-font/StarBlushSerif-EaAol.ttf);
}
h1 {
  font-family: StarBlushSerif;
  font-weight: 500 !important;
  font-size: 2rem !important;
  line-height: 2.2rem !important;
}
nav {
  height: 80px;
  align-items: center;
  display: flex;
  gap: 18vw;
  justify-content: space-between;
}
#sidebar-Meny {
  background-color: black;
}
ul {
  display: flex;
  gap: 5%;
  margin: 0px;
  justify-content: end;
  align-items: center;
  font-size: 25px;
  margin-right: 5%;
  
}
li {
  list-style: none;
  font-size: 25px;
  align-items: center;
  color: black;
}
a {
  list-style: none;
  font-size: 25px;
  align-items: center;
  color: black;
}

.flag {
  width: 30px;
}

@media only screen and (max-width: 600px) {
  nav {
    gap: 6vw;
  }
}

